@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue-Regular.otf);
    margin-top: 100px;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body {
    background-color: #3dc6b4;
    color: white;
    /* min-width: 940px; */
}
a {
    text-decoration: none;
    color: white;
}
h2, h3, button, nav a{
    font-family: BebasNeue;
    text-transform: uppercase;
}
.glide__bullet {
    border: none;
}
.glide__bullet[class*=active] {
    opacity: .5;
}
.show__nav {
    display: flex;
    flex-direction: column;
}

/* header */
header {
    width: 100%;
    background-color: white;
    grid-column-gap: 1%;
}
header h1 {
    font-family: 'Lobster', cursive;
    color: #3cc3b5;
    justify-self: center;
    font-size: 3em;
}
header form.search {
    margin: 2% 0;
    padding: .5%;
    font-size: 1em;
    display: flex;
    border: .1vh solid #e1e1e1;
}
header form.search > * {
    height: 100%;
}
header form.search input[type=text] {
    width: 95%;
    border: none
}
header form.search button {
    width: 5%;
    border: none;
    background: url(../img/search.png) center no-repeat;
    background-size: contain;
    cursor: pointer;
}
header div.cart {
    justify-self: center;
    display: flex;
    align-items: center;
}
header div.cart button {
    height: 40px;
    width: 40px;
    margin: 5% 0;
    border: none;
    background: url(../img/basket.png) center no-repeat;
    background-size: contain;
    cursor: pointer;
}
header div.cart h3 {
    margin-top: 10%;
    font-size: 2em;
    color: #afafaf;
    margin-left: 6%;
}
nav {
    
    background-color: #4ccfc1;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,.2);
    text-transform: uppercase;
    padding: 1%;
    font-weight: 400;
    text-align: center;
}
nav a {
    font-size: 2em;
    word-spacing: 10px;
    display: inline;
}
nav a::after {
    content: ' | '
}
nav a:last-of-type::after {
    content: none;
}

/* banner */
section.banner {
    display: flex;
    text-align: center;
    padding: 5%;
}
section.banner li.glide__slide {
    justify-items: center;
    text-align: initial;
}
section.banner li.glide__slide div {
    padding: 0 10%;
}
section.banner li.glide__slide h2 {
    font-family: BebasNeue;
    text-transform: uppercase;
    font-size: 4em;
}
section.banner li.glide__slide p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 5% 0;
}
section.banner li.glide__slide button {
    padding: 2% 2% 1% 2%;
    background: none;
    border: .3vh solid white;
    border-radius: .7vh; 
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2em;
    color: white;
    cursor: pointer;
}
section.banner div.glide__bullets {
    margin-top: 5%;
}
section.banner div.glide__bullets button.glide__bullet {
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

/* categories */
section.categories {
    padding: 0 1%;
    background: white;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #afafaf;
}
section.categories li.glide__slide {
    height: 150px;
    padding: 1% 0;
    border-right: 1px solid rgba(175, 175, 175, .3);
    display: flex;
}
section.categories li.glide__slide img {
    height: 100%;
    margin: 0 0 0 10%;
}
section.categories li.glide__slide div {
    width: 100px;
    margin-left: 5%;
}
section.categories li.glide__slide h2 {
    font-family: BebasNeue;
    font-size: 2.5em;
}
section.categories li.glide__slide button {
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    background-color: #3cc395;
    border-radius: 5px;
    border: solid 0px;
    padding: 5% 10% 0% 10%;
    cursor: pointer;
}
section.categories button.glide__arrow {
    height: 25vh;
    width: 50px;
    border: none;
    cursor: pointer;
}
section.categories button.glide__arrow--left {
    background: url(../img/arrow_left.png) center no-repeat;
    background-size: contain;
}
section.categories button.glide__arrow--right {
    background: url(../img/arrow_right.png) center no-repeat;
    background-size: contain;
}

/* products */
section.products-container {
    display: flex;
    flex-direction: column;
}
section.products-container h2 {
    font-family: BebasNeue;
    font-size: 2em;
    padding: 1% 5vw;
}
div.products {
    padding: 5%;
    background-color: white;
    color: #afafaf;
    text-transform: uppercase;
    justify-items: center;
    justify-content: center;
}
div.products div.product {
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,.2);
    width: 200px;
    padding: 5%;
    border-bottom: solid #3cc395 5px;
    text-align: center;
    font-size: 1.7em;
}
div.products div.product img {
    max-width: 100%;
}
div.products div.product div button {
    font-size: 1em;
    text-transform: uppercase;
    color: white;
    background-color: #3cc395;
    border-radius: 5px;
    border: solid 0px;
    margin: 0 0 -1% 5%;
    padding: 3% 5% 0% 5%;
    cursor: pointer;
}
div.products div.product div > * {
    display: inline;
}

/* footer */
footer {
    padding-top: 1%;
}
footer h2 {
    text-transform: uppercase;
    margin: 5% 0;
}
footer section.map {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    justify-content: center;
}
footer section.map a {
    display: block;
    margin: .2em;
}
footer section.copyright {
    margin-top: 1%;
    padding: .5%;
    text-align: center;
    background-color: #2da89b;
}

/* desktop */
@media screen and (min-width: 940px) {
    /* header */
    header {
        display: grid;
        grid-template-columns: .5fr 2fr .5fr;
    }
    header h1 {
        margin: 5% 0;
    }
    nav {
        grid-column: 1/4;
    }
    header nav button.hamburger {
        display: none;
    }

    /* banner */
    section.banner li.glide__slide {
        display: grid;
        grid-template-columns: repeat(2, 40%);
    }

    /* products */
    section.products-container div.products {
        height: 500px;
        display: grid;
        grid-template-columns: repeat(3, 20%);
        grid-gap: 10%;
    }

    /* footer */
    footer section.map {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* tablet */
@media all and (max-width: 940px) {
    /* header */
    header {
        display: grid;
        grid-template-rows: 1fr;
        text-align: center;
    }
    header h1 {
        width: 100%;
    }
    header form.search {
        height: 5vw;
    }
    
    header nav button.hamburger {
        display: block;
    }
    header nav .hamburger-inner, 
    header nav .hamburger-inner::after, 
    header nav .hamburger-inner::before,
    header nav .hamburger--spin.is-active .hamburger-inner,
    header nav .hamburger--spin.is-active .hamburger-inner::after,
    header nav .hamburger--spin.is-active .hamburger-inner::before {
        background-color: white
    }
    nav a {
        display: none;
        font-size: 3.5em;
    }
    header nav a::after {
        content: none;
    }

    /* banner */
    section.banner li.glide__slide {
        display: grid;
        grid-template-columns: repeat(2, 40%);
    }
    /* categories */
    section.categories button.glide__arrow {
        display: none;
    }

    /* products */
    section.products-container div.products {
        height: 900px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10%;
    }

    /* footer */
    footer section.map {
        grid-template-columns: repeat(2, 1fr);
        font-size: 1.7em;
    }
}

/* mobile */
@media all and (max-width: 630px) {
    /* banner  */
    section.banner li.glide__slide {
        display: grid;
        grid-template-columns: 1fr;
    }

    /* categories */
    section.categories button.glide__arrow {
        display: none;
    }

    /* products */
    section.products-container div.products {
        height: 1620px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 1%;
    }

    /* footer */
    footer section.map {
        grid-template-columns: 1fr;
        font-size: 2em;
    }
}