@import url('https://fonts.googleapis.com/css?family=Pacifico');

html {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  overflow-x: hidden;
  min-width: 1600;
  min-height: 1968;
}

body {
  margin: 0;
  font-size: 16px;
}

h4 {
  font-size: 22px;
  font-weight: 400;
}

p {
  color: #848484;
}

/* Header style here*/
header {
  border-top: 12px #2ecc71 solid;
  color: white;
  width: 100%;
  background-image: url(../i/header_bg.png);
  background-clip: border-box;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 600px;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 60px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  width: 26%;
  font-weight: 400;
}

.notify_h1:last-of-type::after {
  content: ".";
  color: #2ecc71;
}

.header_info {
  position: relative;
  left: 20%;
  top: 20%;
}

.apple, .android, .windows {
  background-color: black;
  opacity: 0.5;
  filter: blur(0.5);
  border: none;
  border-radius: 50%;
}

.apple:hover, .android:hover, .windows:hover {
  background-color: #2ecc71;
  opacity: 1;
}

/* Features style  here*/
.features {
  display: flex;
  justify-content: center;
  margin: 1%;
  align-items: center;
}

.features p {
  width: 80%;
  margin: auto;
}

.theme, .design, .audience {
  width: 27%;
  display: inline-block;
  text-align: center;
}

.theme img, .design img, .audience img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #2ecc71;
  border: none;
  border-radius: 50%;
}

/* Email and video style here */
.get_notified {
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  padding: 2%;
}

.email {
  width: 35%;
  display: inline-block;
  margin: 1%;
}

.video_container {
  border-radius: 10px;
  overflow: hidden;
  width: 640px;
}

.video {
  width: 640px;
  height: 360px;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  border: none;
}

[type=email] {
  border: #c8c8c8 1px solid;
  border-right: none;
  width: 50%;
  font-size: 18px;
  padding: 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

[type=submit] {
  background-color: #2ecc71;
  width: 30%;
  font-size: 22px;
  color: white;
  font-weight: 800;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* Testimonials style here */
.testimonials {
  padding: 2%;
  margin: auto;
  text-align: center;
}

.mySlides {
  margin: auto;
  width: 60%;
  font-size: 18px;
}

.caption-container {
  font-weight: 800;
  text-align: center;
  padding: 2px 16px;
  font-size: 18px;
}

#name {
  color: black;
}

.row {
  display: flex;
  justify-content: center;
}

.column {
  margin: 2px;
  height: 50px;
}

.green_overlay:hover {
  background-color: #2ecc71;
  opacity: 0.5;
  position: absolute;
  cursor: pointer;
}

.green_overlay {
  background-color: #2ecc71;
  opacity: 0;
  height: 5.4%;
  width: 3%;
  position: absolute;
}

/* Get in touch style here */
.get_in_touch {
  margin: 1%;
}

.get_in_touch h3 {
  text-align: center;
  width: 100%;
}

.get_in_touch p {
  text-align: center;
  width: 100%;
}

.social {
  display: flex;
  justify-content: center;
}

.social a {
  margin: 0.5%;
}

.twitter, .facebook, .pinterest, .gplus, .linkedin, .youtube {
  background-color: #d4d4d4;
  border: none;
  border-radius: 50%;
}

.twitter:hover, .facebook:hover, .pinterest:hover, .gplus:hover, .linkedin:hover, .youtube:hover {
  background-color: #2ecc71;
}

/* footer style here */
footer {
  background-color: #e3e3e3;
  display: flex;
  justify-content: center;
  margin-top: 1%;
  height: 100px;
  align-items: center;
}

footer a {
  padding: 1%;
  text-decoration: none;
  color: #848484;
}

footer a:hover {
  color: #2ecc71;
}
