// body {
//   min-width: 480px;
// }
* {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  font-weight: 400;
}
.container {
  display: grid;
  grid-column-gap: 10px;
  grid-template:
    "card"
    "paypal"
    "buy";
  justify-content: center;
  .card {
    display: grid;
    grid-area: card;
    grid-template:
      "type"
      "name"
      "number"
      "expCvv"
      "zip";
    grid-column-gap: 10px;
    div {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 10px;
      p {
        grid-column: 1/3;
      }
      input {
        align-self: center;
        height: 2em;
        border: 1px solid #cccccc;
        border-radius: 3px;
        padding: 0 10px;
      }
      select {
        height: 2em;
      }
    }
    .type {
      grid-area: type;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      input {
        z-index: -1;
        margin-right: -73px;
      }
      @each $card in AmericanExpress-dark, Discover-dark, MasterCard-dark, Visa-dark {
        .#{$card} {
          cursor: pointer;
          border: none;
          height: 30px;
          width: 40.055px;
          background-image: url("../img/#{$card}.svg");
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        input:checked + label {
          border: rgba(253, 118, 34, 0.7) 2px solid;
          border-radius: 3px;
          margin: -2px;
        }
      }
    }
    .name {
      grid-area: name;
    }
    .number {
      grid-area: number input {
        grid-column: 1/3;
      }
    }
    .expCvv {
      grid-area: expCvv;
      .expDate {
        align-items: center;
        div {
          grid-column: 1/3;
        }
      }
      .cvv {
        grid-template-columns: 1fr;
        .input {
          grid-column: 1/3;
          display: flex;
          align-items: center;
          input {
            width: 90%;
            border-right: none;
            border-radius: 3px 0 0 3px;
          }
          button {
            width: 20%;
            height: calc(2em + 2px);
            border: 1px solid #cccccc;
            border-radius: 0 3px 3px 0;
            border-left: none;
            outline: none;
            background: url("../img/info.svg") no-repeat scroll center center;
          }
        }
        .cvvInfoContainer {
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100vh;
          // background-color: rgba(0, 0, 0, 0.2);
          .cvvInfo {
            width: 360px;
            top: 140px;
            right: 19vw;
            position: absolute;
            display: flex;
            background: white;
            -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
            padding: 5px;
            &::after,
            &::before {
              top: 100%;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
            }
            &::after {
              border-color: rgba(255, 255, 255, 0);
              border-top-color: #ffffff;
              border-width: 13px;
              margin-left: 2px;
            }
            &::before {
              z-index: -1;
              filter: blur(4px);
              border-color: rgba(0, 0, 0, 0);
              border-top-color: rgba(0, 0, 0, 0.2);
              border-width: 16px;
              margin-left: -2px;
            }
            div {
              padding: 0px 5px;
              display: flex;
              flex-direction: column;
              img {
                width: 80%;
                align-self: center;
              }
              h4 {
                margin-bottom: 0;
              }
            }
            .borderRight {
              border-right: 1px solid #dddddd;
            }
          }
        }
        .hidden {
          display: none;
        }
      }
    }
    .zip {
      grid-area: zip;
      input {
        grid-column: 1/3;
      }
    }
  }
  .paypal {
    grid-area: paypal;
    margin-top: 10px;
    background-color: #f7f7f7;
    border: 1px solid #dddddd;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    button {
      cursor: pointer;
      width: 100px;
      height: 38px;
      border: none;
      background-image: url("../img/paypal.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .buy {
    grid-area: buy;
    cursor: pointer;
    margin-top: 10px;
    color: white;
    background-color: #ff9000;
    border: 1px solid #fd7722;
    border-radius: 3px;
  }
}
// Tablet
@media all and (min-width: 768px) {
  .container {
    grid-template:
      "card card card"
      ".. paypal paypal"
      ".. buy buy";
    grid-template-columns: 1fr 1fr 1fr;
    .card {
      grid-template:
        "name name name"
        "number number type "
        "expCvv expCvv expCvv"
        "zip zip zip";
      grid-template-columns: 1fr 1fr 1fr;
      div {
        grid-template-columns: 1fr 1fr 1fr;
        p {
          grid-column: 1/2;
          justify-self: end;
        }
      }
      .number {
        grid-column: 1/3;
        grid-template-columns: 1fr 1fr;
      }
      .expCvv {
        .expDate {
          grid-column: 1/3;
          grid-template-columns: 1fr 1fr;
          div {
            grid-template-columns: 1fr 1fr;
            grid-column: 2/3;
          }
        }
        .cvv {
          grid-column: 3/4;
          grid-template-columns: 0.5fr 1fr;
          p {
            justify-self: start;
          }
          .input {
            grid-column: 2/3;
          }
          .cvvInfo {
            width: 305px !important;
            top: 5px !important;
            right: 5px !important;
            &::before {
              margin-left: 120px !important;
            }
            &::after {
              margin-left: 122px !important;
            }
          }
        }
      }
      .zip {
        input {
          grid-column: 2/3;
        }
      }
    }
  }
}
// Desktop
@media all and (min-width: 1024px) {
  .container {
    grid-template:
      "card card card paypal"
      ".. buy buy paypal";
    grid-template-columns: repeat(4, 1fr);
    .card {
      .expCvv {
        .cvv {
          .cvvInfo {
            top: 1px !important;
            right: 25vw !important;
            &::before {
              margin-left: 90px;
            }
            &::after {
              margin-left: 92px;
            }
          }
        }
      }
    }
    .paypal {
      flex-direction: column;
    }
  }
}
