doctype html  
html(lang="en")  
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="./css/payment.css")
    title PDFfiller
  body
    h1 Thank you for choosing to subscribe to PDFfiller services!
    .container
      form(method="post")#card
        .type
          input(type="radio" name="type" id="visa" required)
          label(for="visa").Visa-dark
          input(type="radio" name="type" id="masterCard" required)
          label(for="masterCard").MasterCard-dark
          input(type="radio" name="type" id="discover" required)
          label(for="discover").Discover-dark
          input(type="radio" name="type" id="americanExpr" required)
          label(for="americanExpr").AmericanExpress-dark
        .name
          p Cardholder Name
          input(type="text" name="firstName" placeholder="First Name" required)
          input(type="text" name="lastName" placeholder="Last Name" required)
        .number
          p Card Number
          input(type="text" name="cardNumber" placeholder="⦁⦁⦁⦁⦁ ⦁⦁⦁⦁⦁ ⦁⦁⦁⦁⦁ ⦁⦁⦁⦁⦁" pattern="[0-9]{16}" required)
        .expCvv
          .expDate
            p Exp. Date
            div 
              select(name="month" required)
                each month, index in ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
                  option(value=index)= month
              select(name="year" required)
                each year in ["2019", "2020", "2021"]
                  option(value=year)= year
          .cvv
            p CVV/CVC
            .input
              input(type="text" name="cvv" placeholder="XXXX" required)
              button.showInfo(form="")
              div.cvvInfo.hidden
                div.borderRight
                  img(src="./img/visaMaster.svg" alt="")
                  h4 Visa, MasterCard
                  p 3-Digit Verification Number
                div
                  img(src="./img/amExpr.svg" alt="")
                  h4 American Express
                  p 4-Digit Verification Number
        .zip
          p Zip/Postal Code
          input(type="text" name="zip" placeholder="01001" required)
      .paypal
        p Or pay with Paypal
        button
      button(type="submit" form="card").buy
        h2 Start My Subscription for $19.99/month
  script(src="./js/payment.js" defer)